<!DOCTYPE html>
<html ng-app="SentimentApp">

<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script sync src="https://platform.twitter.com/widgets.js"></script>
  <script src="{{ url_for('static', filename='jcarousellite.js') }}"></script>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
  <script src="/static/ammap/ammap.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/static/ammap/ammap.css" type="text/css" media="all" />
  <script src="/static/ammap/maps/js/nigeriaLow.js" type="text/javascript"></script>
  <script src="/static/amcharts/amcharts.js"></script>
  <script src="static/amcharts/serial.js"></script>
</head>
<body style="background-color: white;" ng-controller="SentimentController">
  <div class="site-header">
    <span><a target="_blank" href="https://www.formpl.us/"><img src="{{ url_for('static', filename='images/logo/Small-White.png') }}"></a></span>
  </div>
  <h2 style="text-align: center;">2019 Nigerian Election on Social Media</h2>

  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
        <h3>Introduction</h3>
        <p class="intro-text">This page presents an analysis and forecast on the Nigerian Presidential Election 2019. We have analyzed data collected every 24 hours
          from twitter in Nigeria using sentiment analysis, to provide real time voter's opinions and preferences of
          presidential candidates, nationwide, over time and across key issues in Nigeria.
        </p>
    </div>
    <div class='col-md-6'>
      <h3>Current Overall Distribution of Sentiment on Social Media</h3>
      <div id="chartdiv" style="width: 640px; height: 400px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Party Support Based on Location</h3>
      <div id="mapdiv" style="width: 600px; height: 400px;"></div>
      <div class="legend">
          <div class=party-info>
            <div class='legend-box' id='apc'></div>
            <span>APC</span>
          </div>
          <div class=party-info>
            <div class='legend-box' id='pdp'></div>
            <span>PDP</span>
          </div>
          <div class=party-info>
            <div class='legend-box' id='ann'></div>
            <span>ANN</span>
          </div>
          <div class=party-info>
            <div class='legend-box' id='gpn'></div>
            <span>GPN</span>
          </div>
          <div class=party-info>
            <div class='legend-box' id='grey'></div>
            <span>No Data</span>
          </div>
      </div>
      <div id="popup" style="display: none"></div>
    </div>
    <div class="col-md-6">
        <h3>Change of Support Over Time</h3>
        <div class="ui segment" ng-if="chartLoading">
            <div class="ui active inverted dimmer">
              <div class="ui text loader">Loading</div>
            </div>
            <p></p>
        </div>
        <div id="curve_chart" style="width: 500px; height: 400px;"></div>
    </div>
  </div>
  <div class="row" style="margin: 10px">
    <div class="col-md-6">
      <h3>Support Comparison on Issues</h3>
      <div class="ui segment" ng-if="chartLoading">
        <div class="ui active inverted dimmer">
          <div class="ui text loader">Loading</div>
        </div>
        <p></p>
      </div>
      <div id="stacked_chart" style="width: 500px; height: 400px;"></div>
    </div>
    <div class="col-md-6">
      <h3>Random Tweets</h3>
      <div id="tweetContainer" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="chartdiv2" style="width: 640px; height: 400px;"></div>
    </div>
  </div>

  <!--footer style="height: 65px;width: 100%; background-color: #00afbf;position: relative;bottom: 0;">
    <span style="text-align: center; font-size: 15px;">Formplus Inc 2018 &copy;</span>
  </footer-->
</body>

<style>

  body{
    font-family: 'Quicksand';
  }

  .site-header {
    width: 100%;
    height: 100px;
    background-color: #00afbf;
  }

  .site-header span{
    color: white; 
    font-size: 60px;
    margin: 20px;
  }

  h2 {
    color: #1a8caf;
    margin: 50px 0 50px 0;
  }

  h3 {
    font-size: calc(100% + 1.5vw);
    color: #1a8caf;
    margin: 30px 0 30px 0;
  }

  .row {
    margin: 10px;
  }

  .party-info {
    float: left;
    margin-right: 20px;
  }

  .legend {
    height: 20px;
  }

  .legend-box {
    height: 12px;
    width: 13px;
    display: inline-block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
  }

  #pdp {
    background: red;
  }

  .intro-text {
    line-height: 35px;
  }

  #apc {
    background: blue;
  }

  #ann {
    background: yellow;
  }

  #gpn {
    background: purple;
  }

  #grey {
    background: grey;
  }

  .twitter-scroll {
    height: 900px;
    width: 100%;
  }

  #tweetContainer {
    height: 500px;
    width: 50%;
    margin-left: 10px;
    margin-top: 50px;
  }


  #tweetContainer div.ui.segment {
    border: 1px solid;
  }

  #tweet {
    height: 500px;
    width: 400px !important;
  }

  #tweet iframe {
    border: none !important;
    box-shadow: none !important;
  }

  #tweetContainer div a {
    color:#55acee;
  }

  a.link.customisable {
    color:#55acee !important;
  }
</style>
</html>